body {
  background-color: #f2f2f2;
}


#map {
  height: 400px;
  width: 100%;
 }

.map-view, .location-info {
  display: none;
}

ul {
  font-size: 18px;
}

.jumbotron {
  text-align: center;
  background-color: #b3b3b3;
}

hr {
  background-color: darkgray;
  height: 5px;
}

.success-info em {
  font-size: 16px;
}
